.logo-cliente-blanco {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}
.logo-cliente-lotedom {
  background-color: #0632eb;
  padding: 10px;
  border-radius: 20px;
}
.logo-cliente-loteka {
  background-color: #36b1dc;
  padding: 10px;
  border-radius: 20px;
}
